@import url(../css/bootstrap.css);
@import url(../css/select2.css);
@import url(../fonts/font-face.css);
@import url(../css/owl.carousel.min.css);
@import url(../css/owl.theme.default.min.css);
body {
  font-family: Arial;
  font-size: 18px; }

header {
  background: url(../img/clip.png) no-repeat;
  background-size: contain;
  width: 100%;
  height: 71.27778em;
  position: relative; }

img {
  width: 100%; }

.top {
  padding-top: 1.38889em; }

.logo img {
  width: auto; }

.search,
.shop {
  padding-right: 3.33333em; }

.menu__form__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 5em; }
  .menu__form__nav .nav-item {
    padding: 0 0.83333em; }
  .menu__form__nav .nav-link {
    color: #242424;
    font: 1.27778em Montserrat-bold, sans-serif;
    display: inline-block;
    position: relative;
    padding: 0.55556em; }
    .menu__form__nav .nav-link:before {
      position: absolute;
      content: "";
      width: 65%;
      height: 0.11111em;
      bottom: 0.27778em;
      left: 0;
      background-color: #363333;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
      transform: scaleX(0.7);
      opacity: 0; }
    .menu__form__nav .nav-link:hover:before {
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1);
      width: 100%;
      opacity: 1; }
  .menu__form__nav .active:before {
    opacity: 1; }

.menu h3 {
  font: 1.94444em Montserrat-bold, sans-serif;
  color: #242424;
  margin: 0; }

.menu h1 {
  font: 9.72222em Montserrat-bold, sans-serif;
  color: #ffffff; }

.img__mount {
  position: absolute;
  width: 33%;
  top: 42%;
  left: 37%;
  -webkit-transform: translate(-37%, -42%);
  -ms-transform: translate(-37%, -42%);
  transform: translate(-37%, -42%);
  z-index: 9; }
  .img__mount img {
    width: 100%; }

.img__mount__second {
  position: absolute;
  top: 36%;
  left: 101%;
  width: 45%;
  -webkit-transform: translate(-101%, -36%);
  -ms-transform: translate(-101%, -36%);
  transform: translate(-101%, -36%);
  z-index: 8; }
  .img__mount__second img {
    width: 100%; }

.best__img {
  position: absolute;
  top: 2.77778em;
  right: 0;
  z-index: 10;
  width: 40%; }
  .best__img img {
    width: 100%; }

.best {
  position: relative; }

.best__text {
  color: #242424;
  margin-top: -13.88889em; }
  .best__text h2 {
    font: 4.38889em Montserrat-bold, sans-serif; }
  .best__text h1 {
    font: 4.44444em Montserrat-bold, sans-serif;
    margin-bottom: 3rem; }
  .best__text p {
    font: 1.16667em Montserrat-bold, sans-serif;
    line-height: 2;
    color: #272626; }
  .best__text .btn-info {
    background-color: #3ACDD5;
    color: #ffffff;
    border: 0;
    border-radius: 2.22222em;
    font: 1.75em Montserrat-bold, sans-serif;
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: 0.03333em;
    padding: 0.83333em 2.77778em;
    -webkit-box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2); }

.arrivals {
  padding-top: 11.11111em; }

.arrivals__header {
  color: #242424; }
  .arrivals__header h1 {
    font: 3.75em Montserrat-bold, sans-serif;
    font-weight: 100;
    line-height: 0.68;
    letter-spacing: 0.07778em;
    margin-bottom: 55px; }
  .arrivals__header p {
    font: 1.33333em Montserrat-bold, sans-serif;
    line-height: 1.75;
    letter-spacing: 0.02778em; }

.arrivals__content {
  padding-top: 1.66667em; }

.arrivals__content__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: 1.77778em Montserrat-bold, sans-serif;
  line-height: 1.31;
  letter-spacing: 0.03333em;
  padding-bottom: 40px; }
  .arrivals__content__nav a {
    color: #3acdd5;
    padding: 0.5rem 3.88889em; }

.suitcase {
  color: #343434;
  padding-bottom: 4.44444em; }

.shadow {
  opacity: 0.4;
  background-color: #313030; }

.info {
  font: 0.77778em Montserrat-bold, sans-serif;
  font-weight: 500;
  line-height: 1.76;
  letter-spacing: 0.01667em; }

.price {
  font: 1.08333em Montserrat-bold, sans-serif;
  font-weight: bold;
  line-height: 1.87;
  letter-spacing: 0.02222em; }
  .price p {
    display: inline-block;
    margin: 0;
    vertical-align: middle; }
  .price img {
    width: inherit; }

.suitcase__mar {
  margin-left: -20%; }

.suitcase__pad {
  display: inline-block;
  padding-bottom: 1.66667em; }

.camp__header,
.camera__header,
.lens__header {
  color: #242424;
  padding-top: 3.05556em; }
  .camp__header h1,
  .camera__header h1,
  .lens__header h1 {
    font: 3.44444em QuotusThin-bold, sans-serif;
    font-weight: 100;
    line-height: 0.68;
    letter-spacing: 0.07778em;
    margin-bottom: 55px; }
  .camp__header p,
  .camera__header p,
  .lens__header p {
    font: 1.33333em Montserrat-bold, sans-serif;
    line-height: 1.75;
    letter-spacing: 0.02778em; }

.camp__content {
  padding-top: 1.66667em; }

.camp__content__nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: 2.11111em Montserrat-bold, sans-serif;
  line-height: 1.11;
  letter-spacing: 0.04444em;
  padding-bottom: 40px; }
  .camp__content__nav a {
    color: #3acdd5;
    padding: 0.5rem 2.77778em; }

.tent {
  color: #343434;
  padding-bottom: 3.88889em; }

.tent__pad {
  display: inline-block;
  padding-bottom: 0.94444em; }

.camp__button {
  padding-bottom: 6.94444em; }

.camp__button .btn-info,
.camera__button .btn-info,
.lens__button .btn-info {
  background-color: #3ACDD5;
  color: #ffffff;
  border: 0;
  border-radius: 1.66667em;
  font: 1.27778em Montserrat-bold, sans-serif;
  font-weight: 500;
  line-height: 0.91;
  letter-spacing: 0.02778em;
  padding: 0.83333em 2.77778em;
  -webkit-box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2); }

.camera__choice {
  color: #343434;
  padding: 6.11111em 0 3.33333em; }

.camera__choice__pad {
  display: inline-block;
  padding-bottom: 2em; }

.camera__button {
  padding-bottom: 6.66667em; }

.lens__content__pad {
  display: inline-block;
  padding: 4.44444em 0 3.33333em; }

.lens__content__pad__second {
  display: inline-block;
  padding: 1.94444em 0 4.72222em; }

.subscription {
  background-image: url(../img/clip-3.png);
  background-size: cover;
  width: 101%;
  position: relative;
  margin-left: -1%;
  margin-top: -1.66667em; }

.subscription__content {
  color: #ffffff; }
  .subscription__content h2 {
    font: 3.08333em QuotusThin-bold, sans-serif;
    font-weight: bold;
    line-height: 0.59;
    letter-spacing: 0.06111em;
    margin-bottom: 2rem; }
  .subscription__content h3 {
    font: 2.86111em QuotusThin-bold, sans-serif;
    font-weight: 100;
    line-height: 0.64;
    letter-spacing: 0.05556em;
    margin-bottom: 3.75rem; }
  .subscription__content p {
    font: 0.94444em Montserrat-bold, sans-serif;
    font-weight: 500;
    line-height: 1.76;
    letter-spacing: 0.01667em;
    margin: 0; }

.subscription__content__email {
  padding-top: 2.77778em; }

.subscription__content_input,
.subscription__content__button {
  border: 0;
  border-radius: 2.22222em;
  font: 1.11111em Montserrat-bold, sans-serif;
  font-weight: 500;
  line-height: 0.91;
  letter-spacing: 0.02778em;
  padding: 1.38889em 2.22222em;
  -webkit-box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2); }

.subscription__content__button {
  margin-left: 1.66667em; }

.h-1000 {
  height: 63.88889em; }

.footer {
  padding-top: 6.11111em; }
  .footer h1 {
    font: 2.36111em QuotusThin-bold, sans-serif;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.05em; }
  .footer p {
    font: 1.66667em Montserrat-bold, sans-serif;
    font-weight: 300;
    line-height: 1.78;
    letter-spacing: 0.03333em;
    margin: 0; }

.shop, .about, .help {
  display: inline-block;
  text-align: left; }

.social {
  padding-top: 11.66667em; }
  .social a {
    padding-left: 1.11111em; }
    .social a img {
      width: auto; }
