@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}

@for $i from 1 through 60 {
  @media(min-width: 2000px + ($i * 100)) {
    body {
      font-size: 20px + $i !important;
    }
  };
}
@for $i from 1 through 8 {
  @media(max-width: 1920px - ($i * 100)) {
    body {
      font-size: 18px - $i;
    }
  };
}
@media screen and (max-width: 1500px) {
  .logo{
    img{
      width: 50%;
    }
  }
  .menu__form__nav{
    padding-bottom: 3rem;
  }
}
@media screen and (max-width: 1280px) {
  .suitcase_black{
  margin-left: -30%;
  }
}
@media screen and (max-width: 1000px) {
  .menu__form__nav{
    padding-bottom: 0;
  }
  .img__mount,
  .img__mount__second{
    display: none;
  }
}
@media screen and (max-width: 800px) {
  header{
    background-size: cover;
  }
  .logo{
    img{
      width: 100%;
    }
  }
  .top{
    .search, .shop{
      width: 40%;
      padding: 0;
    }
  }
  .menu__form__nav{
    padding-bottom: 5em;
  }
  .search{
    float: left;
  }
  .best__img{
    display: none;
  }
  .arrivals__content__nav,
  .camp__content__nav{
    a{
      padding: 0.5rem 1rem;
    }
  }
  .camera__header{
    h1{
      letter-spacing: 0;
    }
  }
  .h-1000{
  height: 200px;
  }
  .subscription__content{
    padding-bottom: 100px;
  }
}