@import '../css/bootstrap.css';
@import '../fonts/font-face.css';
//Methods
$browser-context: 18;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Mixin
@mixin roboto($em){
	font: em($em) $roboto-bold;
}
@mixin quotus($em){
	font: em($em) $quotus;
}

//Colors
$black: #242424;
$white: #ffffff;
$pink: #ED215E;

//Vars
$roboto-light: Montserrat-light, sans-serif;
$roboto-medium: Montserrat-medium, sans-serif;
$roboto-regular: Montserrat-regular, sans-serif;
$montserrat-semibold: Montserrat-semibold, sans-serif;
$roboto-bold: Montserrat-bold, sans-serif;
$quotus: QuotusThin-bold, sans-serif;
$quotusthin-regular: QuotusThin-regular, sans-serif;
$quotusbold-regular: QuotusBold-regular, sans-serif;
body{
	font-family: Arial;
	font-size: #{$browser-context}px;
}
header{
	background: url(../img/clip.png) no-repeat;
	background-size: contain;
	width: 100%;
  height: em(1283);
  position: relative;
}
img{
	width: 100%;
}
.top{
	padding-top: em(25);
}
.logo{
	img{
		width: auto;
	}
}
.search,
.shop{
	padding-right: em(60);
}
.menu__form__nav{
	justify-content: center;
	padding-bottom: em(90);
	.nav-item{
		padding: 0 em(15);
	}
	.nav-link{
		color: $black;
		@include roboto(23);
		display: inline-block;
		position: relative;
		padding: em(10);
		&:before{
			position: absolute;
			content: "";
			width: 65%;
			height: em(2);
			bottom: em(5);
			left: 0;
			background-color: #363333;
			transition: all 0.5s;
			transform: scaleX(0.7);
			opacity: 0;
		}
		&:hover:before{
			transition: all 0.3s;
			transform: scaleX(1);
			width: 100%;
			opacity: 1;
		}
	}
	.active:before{
		opacity: 1;
	}
}
.menu{
	h3{
		@include roboto(35);
		color: $black;
		margin: 0;
	}
	h1{
		@include roboto(175);
		color: $white;
	}
}
.img__mount{
	position: absolute;
	width: 33%;
	top: 42%;
	left: 37%;
	transform: translate(-37%, -42%);
	z-index: 9;
	img{
		width: 100%;
	}
}
.img__mount__second{
	position: absolute;
	top: 36%;
	left: 101%;
	width: 45%;
	transform: translate(-101%, -36%);
	z-index: 8;
	img{
		width: 100%;
	}
}
.best__img{
	position: absolute;
	top: em(50);
	right: 0;
	z-index: 10;
	width: 40%;
	img{
		width: 100%;
	}
}
.best{
	position: relative;
}
.best__text{
	color: $black;
	margin-top: em(-250);
	h2{
		@include roboto(79);
	}
	h1{
		@include roboto(80);
		margin-bottom: 3rem;
	}
	p{
		@include roboto(21);
		line-height: 2;
		color: #272626;
	}
	.btn-info{
		background-color: #3ACDD5;
		color: $white;
		border: 0;
		border-radius: em(40);
		@include roboto(31.5);
		font-weight: bold;
		line-height: 0.9;
  	letter-spacing: em(0.6);
		padding: em(15) em(50);
		box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
	}
}
.arrivals{
	padding-top: em(200);
}
.arrivals__header{
	color: $black;
	h1{
		@include roboto(67.5);
	  font-weight: 100;
		line-height: 0.68;
    letter-spacing: em(1.4);
    margin-bottom: 55px;
	}
	p{
		@include roboto(24);
	  line-height: 1.75;
	  letter-spacing: em(0.5);
	}
}
.arrivals__content{
	padding-top: em(30);
}
.arrivals__content__nav{
	justify-content: center;
	@include roboto(32);
	line-height: 1.31;
  letter-spacing: em(0.6);
  padding-bottom: 40px;
  a{
  	color: #3acdd5;
  	padding: 0.5rem em(70);
  }
}
.suitcase{
  color: #343434;
  padding-bottom: em(80);
}
.shadow{
	opacity: 0.4;
  background-color: #313030;
}
.info{
	@include roboto(14);
	font-weight: 500;
	line-height: 1.76;
  letter-spacing: em(0.3);
}
.price{
	@include roboto(19.5);
	font-weight: bold;
	line-height: 1.87;
  letter-spacing: em(0.4);
  p{
  	display: inline-block;
  	margin: 0;
  	vertical-align: middle;
  }
  img{
  	width: inherit;
  }
}
.suitcase__mar{
	margin-left: -20%;
}
.suitcase__pad{
	display: inline-block;
	padding-bottom: em(30);
}
.camp__header,
.camera__header,
.lens__header{
	color: $black;
	padding-top: em(55);
	h1{
		@include quotus(62);
	  font-weight: 100;
		line-height: 0.68;
    letter-spacing: em(1.4);
    margin-bottom: 55px;
	}
	p{
		@include roboto(24);
	  line-height: 1.75;
	  letter-spacing: em(0.5);
	}
}
.camp__content{
	padding-top: em(30);
}
.camp__content__nav{
	justify-content: center;
	@include roboto(38);
	line-height: 1.11;
  letter-spacing: em(0.8);
  padding-bottom: 40px;
  a{
  	color: #3acdd5;
  	padding: 0.5rem em(50);
  }
}
.tent{
  color: #343434;
  padding-bottom: em(70);
}
.tent__pad{
	display: inline-block;
	padding-bottom: em(17);
}
.camp__button{
	padding-bottom: em(125);
}
.camp__button,
.camera__button,
.lens__button{
	.btn-info{
		background-color: #3ACDD5;
		color: $white;
		border: 0;
		border-radius: em(30);
		@include roboto(23);
		font-weight: 500;
		line-height: 0.91;
  	letter-spacing: em(0.5);
		padding: em(15) em(50);
		box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
	}
}
.camera__choice{
  color: #343434;
  padding: em(110) 0 em(60);
}
.camera__choice__pad{
	display: inline-block;
	padding-bottom: em(36);
}
.camera__button{
	padding-bottom: em(120); 
}
.lens__content__pad{
	display: inline-block;
	padding: em(80) 0 em(60);
}
.lens__content__pad__second{
	display: inline-block;
	padding: em(35) 0 em(85);
}
.subscription{
	background-image: url(../img/clip-3.png);
	background-size: cover;
	width: 101%;
  position: relative;
  margin-left: -1%;
  margin-top: em(-30);
}
.subscription__content{
	color: $white;
	h2{
		@include quotus(55.5);
		font-weight: bold;
		line-height: 0.59;
  	letter-spacing: em(1.1);
  	margin-bottom: 2rem;
	}
	h3{
		@include quotus(51.5);
		font-weight: 100;
		line-height: 0.64;
  	letter-spacing: em(1);
  	margin-bottom: 3.75rem;
	}
	p{
		@include roboto(17);
		font-weight: 500;
		line-height: 1.76;
  	letter-spacing: em(0.3);
  	margin: 0;
	}
}
.subscription__content__email{
	padding-top: em(50);
}
.subscription__content_input,
.subscription__content__button{
	border: 0;
	border-radius: em(40);
	@include roboto(20);
	font-weight: 500;
	line-height: 0.91;
	letter-spacing: em(0.5);
	padding: em(25) em(40);
	box-shadow: 0px 4px 4.8px 1.2px rgba(0, 0, 0, 0.2);
}
.subscription__content__button{
	margin-left: em(30);
}
.h-1000{
	height: em(1150);
}
.footer{
	padding-top: em(110);
	h1{
		@include quotus(42.5);
		font-weight: bold;
	  line-height: 1.19;
	  letter-spacing: em(0.9);
	}
	p{
		@include roboto(30);
		font-weight: 300;
	  line-height: 1.78;
	  letter-spacing: em(0.6);
	  margin: 0;
	}
}
.shop, .about, .help{
	display: inline-block;
	text-align: left;
}
.social{
	padding-top: em(210);
	a{
		padding-left: em(20);
		img{
			width: auto;
		}
	}
}




